<% include ./partials/header %>
    <h1>Hello</h1>
    <% blogs.forEach( (blog) => {%>
        <h2><%= blog.title %></h2>
        <p><img src="<%= blog.image %>" alt="Blogpost image"></p>
        <p><%= blog.body.substring(0, 100) %>...</p>
        <span><%= blog.created.toDateString() %></span>
        <a href="/blogs/<%= blog._id %>">Read more</a>
    <%})%>
<% include ./partials/footer %>